:root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
}

html, body {
    width: 100%;
    overflow-x: hidden;
    min-height: 100vh;
}

html{
    overflow-y: scroll;
}

.page-container{
    min-height: 100vh;
}

body {
  margin: 0;
  padding-top: 40px;
  background-color: var(--code-bg);
  color: var(--text);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-content {
    width: 100%;
    max-width: 400px;
    margin: 90px auto 0;
}

.title {
    color: var(--accent);
    font-size: 3rem;
}

.sign-in-up-h2 {
    text-align: center;
}

.sign-in-up-box {
    background-color: var(--bg);
    padding: 0.75rem;
    width: 100%;
    box-sizing: border-box;
}

.inputs {
    padding: 4px;
    border: 1px solid transparent;
    border-radius: 6px;
    background-color: var(--border);
    color: var(--text);
}

.form-group {
    display: flex;
    flex-direction: column;
}

.sign-in-up-btn {
    background-color: var(--accent);
    color: var(--bg);
    width: 100%;
    margin-bottom: 12px;
}
.sign-in-up-btn:hover {
    background-color: #a873de;
}

.sign-in-up-alter {
    text-align: center;
}
.alter-link {
    color: var(--accent);
    text-decoration: none;
}
.alter-link:hover {
    color: var(--accent);
    text-decoration: underline;
}

.register-pwd {
    margin-bottom: 20px;
}

.main-navbar{
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    max-width: 400px;
    width: 100%;
    padding: 6px;
    background-color: var(--bg);
    z-index: 9999;
}

.navbar-link-box {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 26px;
    padding-bottom: 6px;
}

.nav-icons {
    color: var(--accent);
}

.nav-icons:hover {
    color: white;
}
.nav-icons.active {
    color: #ecdbfe;
}

.create-post-main {
    padding: 1rem;
}
.create-post-box {
    background-color: var(--border);
    padding: 2rem 1rem;
    border-radius: 8px;
}

body {
  margin: 0;
  padding-top: 40px;
  background-color: var(--code-bg);
  color: var(--text);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-content {
    width: 100%;
    max-width: 400px;
    margin: 90px auto 0;
}

.title {
    color: var(--accent);
    font-size: 3rem;
}

.sign-in-up-h2 {
    text-align: center;
}

.sign-in-up-box {
    background-color: var(--bg);
    padding: 0.75rem;
    width: 100%;
    box-sizing: border-box;
}

.inputs {
    padding: 4px;
    border: 1px solid transparent;
    border-radius: 6px;
    background-color: var(--border);
    color: var(--text);
}

.form-group {
    display: flex;
    flex-direction: column;
}

.sign-in-up-btn {
    background-color: var(--accent);
    color: var(--bg);
    width: 100%;
    margin-bottom: 12px;
}
.sign-in-up-btn:hover {
    background-color: #a873de;
}

.sign-in-up-alter {
    text-align: center;
}
.alter-link {
    color: var(--accent);
    text-decoration: none;
}
.alter-link:hover {
    color: var(--accent);
    text-decoration: underline;
}

.register-pwd {
    margin-bottom: 20px;
}

.main-navbar{
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 6px;
    background-color: var(--bg);
}


.navbar-link-box {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 6px;
    padding-bottom: 6px;
}

.nav-icons {
    color: var(--accent);
}

.nav-icons:hover {
    color: var(--accent);
}
.nav-icons.active {
    color: var(--accent);
}

.create-post-main {
    padding: 1rem;
    min-height: 100vh;
}
.create-post-box {
    background-color: var(--border);
    padding: 2rem 1rem;
    border-radius: 8px;
}

.btn-post {
    padding-top: 3px;
    background-color: var(--accent);
    color: var(--bg);
    width: 100%;
}

.btn-post:hover {
    background-color: var(--text);
}

.create-inputs {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.create-post-textarea {
    background-color: var(--code-bg);
    color: var(--text);
    width: 100%;
    max-height: 60px;
    border: none;
    padding: 4px;
    border-radius: 6px;
}

.create-post-file {
    background-color: var(--code-bg);
    color: var(--text);
    width: 100%;
}

.create-post-preview {
    max-width: 100px;
    max-height: 100px;
    margin-bottom: 6px;
}

.z-lite-title {
    color: var(--accent);
}

.no-posts-message {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.logout {
    border: none;
    background: none;
    color: white;
    padding: 6px;
    width: 100%;
    text-align: left;
    height: 60px;
    background-color: var(--bg);
}
.logout:hover {
    background-color: var(--border);
}

.delete-acc {
    border: none;
    background: none;
    color: #f53434;
    padding: 6px;
    width: 100%;
    text-align: left;
    height: 60px;
    background-color: var(--bg);
}
.delete-acc:hover {
    background-color: #f53434;
    color: var(--text)
}

.delete-acc-confirm {
    background-color: #f5343438;
    border: 1px solid #f53434;
    border-radius: 8px;
    width: 100%;
    text-align: center;
    padding: 7px;
}
.delete-acc-confirm p {
    margin-bottom: 6px;
}
.confirmation {
    background: none;
    margin-right: 10px;
    border: none;
    width: 50px;
    padding: 3px;
    border-radius: 4px;
}
.no {
    background-color: #bcfff9;
}
.yes {
    background-color: #f53434;
}


.edit-btn {
    width: 100%;
    margin-top: 14px;
    padding-bottom: 4px;
    background: none;
    border: none;
    border-radius: 6px;
    color: black;
    background-color: var(--accent);
}
.edit-btn:hover {
    background-color: var(--text);
    color: black;
    box-shadow: none;
}

.edit-inputs {
    background: none;
    border: none;
    width: 80%;
    color: var(--text);
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    margin-left: 15px;
    margin-bottom: 10px;
}
.edit-inputs.active {
    border: none;
    border-bottom: 1px solid white;
}
.edit-form-label {
    color: black;
}

.profile-pic {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    object-fit: cover;
}

.full-name {
    margin-top: 10px;
    color: var(--text);
}

.profile-configs {
    display: flex;
    gap: 20px;
    justify-content: center;
    border-top: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
    padding: 10px;
    margin-top: 15px;
}

.conf-btns {
    width: 40%;
    border: 1px solid var(--border);
    border-radius: 6px;
    text-decoration: none;
    text-align: center;
    color: var(--text-h);
    padding: 5px;
}

.single-post-container {
    margin-top: 25px;
    margin-bottom: 35px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.profile-posts {
    width: 100%;
    object-fit: cover;
}

.post-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
}

.post-caption {
    color: var(--text);
    margin: 0;
    line-height: 1.5;
    word-break: break-word;
}

.post-date {
    color: gray;
    font-size: 14px;
    margin: 0;
}

.three-dots {
    border: none;
    background: transparent;
    cursor: pointer;
    color: var(--text);
    font-size: 18px;
}

.delete-btn {
    width: fit-content;
}

.no-posts-message {
    margin-top: 40px;
    text-align: center;
}

.friend-btn,
.friend-btn-disabled,
.friend-success{
    min-width: 130px;
    height: 38px;
    padding: 0 8px;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 500;
    transition: all 0.2s ease;
}

.friend-btn{
    background-color: #c084fc;
    border: 1px solid #c084fc;
    color: #16171d;
}

.friend-btn:hover{
    background-color: #d2a2fd;
    border-color: #d2a2fd;
}

.friend-btn-disabled{
    background-color: rgba(192, 132, 252, 0.15);
    border: 1px solid rgba(192, 132, 252, 0.45);
    color: #c084fc;
    cursor: not-allowed;
}


.friend-success{
    background: transparent;
    border: none;
    color: #c084fc;
    display: flex;
    align-items: center;
    gap: 6px;
    padding-left: 0;
}

.friend-success:hover{
    color: #d2a2fd;
}


.page-container {
    max-width: 700px;
    margin: auto;
    padding: 20px;
}

.users-title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
}

.users-error {
    color: red;
    margin-bottom: 15px;
}

.users-search-container {
    display: flex;
    gap: 10px;
    margin-bottom: 25px;
}

.users-search-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
}

.users-search-btn {
    padding: 10px 18px;
    border: none;
    border-radius: 8px;
    background-color: black;
    color: white;
    cursor: pointer;
}

.users-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.user-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--border);
    padding: 15px;
    border-radius: 12px;
    border: 1px solid var(--bg);
}

.user-left {
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
}

.users-profile-pic {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    object-fit: cover;
}

.users-info {
    display: flex;
    flex-direction: column;
}

.users-username {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}

.users-fullname {
    margin: 0;
    color: gray;
}


.users-pagination {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 30px;
}

.users-page-btn {
    padding: 10px 18px;
    border: none;
    border-radius: 8px;
    background-color: black;
    color: white;
    cursor: pointer;
}

.users-page-btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}


.load-more-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.load-more-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background-color: black;
    color: white;
    cursor: pointer;
}

.notifications-page {
    width: 100%;
    max-width: 400px;
    margin: 90px auto 0;
    padding: 12px;
}

.notifications-title {
    font-size: 2rem;
    color: var(--text-h);
    margin-bottom: 20px;
}

.notifications-container {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.notification-box {
    width: 100%;
    background-color: var(--bg);
    border: 1px solid var(--border);
    border-radius: 12px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.notification-top {
    display: flex;
    align-items: center;
    gap: 12px;
}

.notification-profile-pic {
    width: 58px;
    height: 58px;
    border-radius: 50%;
    object-fit: cover;
    flex-shrink: 0;
    background-color: var(--border);
}

.notification-user-info {
    display: flex;
    flex-direction: column;
}

.notification-username {
    margin: 0;
    font-size: 17px;
    color: var(--text-h);
    font-weight: 600;
}

.notification-text {
    margin: 0;
    color: var(--text);
    font-size: 14px;
}

.notification-actions {
    display: flex;
    gap: 10px;
}

.notification-btn {
    flex: 1;
    border: none;
    border-radius: 8px;
    padding: 8px 0;
    font-size: 14px;
    transition: 0.2s;
}

.accept-btn {
    background-color: var(--accent);
    color: var(--bg);
}

.accept-btn:hover {
    background-color: #d2a2fd;
}

.reject-btn {
    background-color: transparent;
    border: 1px solid #f43f5e;
    color: #f43f5e;
}

.reject-btn:hover {
    background-color: rgba(244, 63, 94, 0.12);
}

.notification-friends-btn {
    width: 100%;
    border: none;
    border-radius: 8px;
    padding: 9px;
    background-color: rgba(192, 132, 252, 0.15);
    border: 1px solid rgba(192, 132, 252, 0.35);
    color: var(--accent);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    cursor: default;
}

.notifications-empty {
    margin-top: 50px;
    text-align: center;
    color: gray;
}

.profile-top {
    display: flex;
    align-items: center;
    gap: 24px;
    padding-left: 16px;
    margin-top: 12px;
}


.friends-count-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border-radius: 30%;
}
.friends-count-box:hover {
    background-color: var(--border);
}

.friends-count-number {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
    color: var(--text-h);
}


.friends-count-text {
    margin: 0;
    color: var(--text);
    font-size: 15px;
}

.friends-count-box {
    text-decoration: none;
    cursor: pointer;
}

.friends-container {
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-top: 20px;
}

.friend-box {
    background-color: var(--bg);
    border: 1px solid var(--border);
    border-radius: 12px;
    padding: 12px;
    cursor: pointer;
    transition: 0.2s;
}

.friend-box:hover {
    background-color: var(--border);
}

.friend-left {
    display: flex;
    align-items: center;
    gap: 14px;
}

.friend-profile-pic {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.friend-username {
    margin: 0;
    font-size: 18px;
    color: var(--text-h);
}

.friends-title {
    color: var(--text-h);
}

.friends-empty {
    text-align: center;
    margin-top: 40px;
    color: gray;
}