:root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
}

html, body {
    width: 100%;
    overflow-x: hidden;
    min-height: 100vh;
}

html{
    overflow-y: scroll;
}

.page-container{
    min-height: 100vh;
}

body {
  margin: 0;
  padding-top: 40px;
  background-color: var(--code-bg);
  color: var(--text);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-content {
    width: 100%;
    max-width: 400px;
    margin: 90px auto 0;
}

.title {
    color: var(--accent);
    font-size: 3rem;
}

.sign-in-up-h2 {
    text-align: center;
}

.sign-in-up-box {
    background-color: var(--bg);
    padding: 0.75rem;
    width: 100%;
    box-sizing: border-box;
}

.inputs {
    padding: 4px;
    border: 1px solid transparent;
    border-radius: 6px;
    background-color: var(--border);
    color: var(--text);
}

.form-group {
    display: flex;
    flex-direction: column;
}

.sign-in-up-btn {
    background-color: var(--accent);
    color: var(--bg);
    width: 100%;
    margin-bottom: 12px;
}
.sign-in-up-btn:hover {
    background-color: #a873de;
}

.sign-in-up-alter {
    text-align: center;
}
.alter-link {
    color: var(--accent);
    text-decoration: none;
}
.alter-link:hover {
    color: var(--accent);
    text-decoration: underline;
}

.register-pwd {
    margin-bottom: 20px;
}

.main-navbar{
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    max-width: 400px;
    width: 100%;
    padding: 6px;
    background-color: var(--bg);
}

.navbar-link-box {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 26px;
    padding-bottom: 6px;
}

.nav-icons {
    color: var(--accent);
}

.nav-icons:hover {
    color: white;
}
.nav-icons.active {
    color: #ecdbfe;
}

.create-post-main {
    padding: 1rem;
}
.create-post-box {
    background-color: var(--border);
    padding: 2rem 1rem;
    border-radius: 8px;
}

:root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
}

html, body {
    width: 100%;
    overflow-x: hidden;
}

body {
  margin: 0;
  padding-top: 40px;
  background-color: var(--code-bg);
  color: var(--text);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-content {
    width: 100%;
    max-width: 400px;
    margin: 90px auto 0;
}

.title {
    color: var(--accent);
    font-size: 3rem;
}

.sign-in-up-h2 {
    text-align: center;
}

.sign-in-up-box {
    background-color: var(--bg);
    padding: 0.75rem;
    width: 100%;
    box-sizing: border-box;
}

.inputs {
    padding: 4px;
    border: 1px solid transparent;
    border-radius: 6px;
    background-color: var(--border);
    color: var(--text);
}

.form-group {
    display: flex;
    flex-direction: column;
}

.sign-in-up-btn {
    background-color: var(--accent);
    color: var(--bg);
    width: 100%;
    margin-bottom: 12px;
}
.sign-in-up-btn:hover {
    background-color: #a873de;
}

.sign-in-up-alter {
    text-align: center;
}
.alter-link {
    color: var(--accent);
    text-decoration: none;
}
.alter-link:hover {
    color: var(--accent);
    text-decoration: underline;
}

.register-pwd {
    margin-bottom: 20px;
}

.main-navbar{
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 6px;
    background-color: var(--bg);
}


.navbar-link-box {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 6px;
    padding-bottom: 6px;
}

.nav-icons {
    color: var(--accent);
}

.nav-icons:hover {
    color: var(--accent);
}
.nav-icons.active {
    color: var(--accent);
}

.create-post-main {
    padding: 1rem;
    min-height: 100vh;
}
.create-post-box {
    background-color: var(--border);
    padding: 2rem 1rem;
    border-radius: 8px;
}

.btn-post {
    padding-top: 3px;
    background-color: var(--accent);
    color: var(--bg);
    width: 100%;
}

.btn-post:hover {
    background-color: var(--text);
}

.create-inputs {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.create-post-textarea {
    background-color: var(--code-bg);
    color: var(--text);
    width: 100%;
    max-height: 60px;
    border: none;
    padding: 4px;
    border-radius: 6px;
}

.create-post-file {
    background-color: var(--code-bg);
    color: var(--text);
    width: 100%;
}

.create-post-preview {
    max-width: 100px;
    max-height: 100px;
    margin-bottom: 6px;
}

.z-lite-title {
    color: var(--accent);
}

.no-posts-message {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}